{% extends "layouts/base.html" %}

{% block title %}  {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        {% include 'includes/preloader.html' %}

        <!-- Hero -->
        <div class="section-header bg-primary-app pb-0">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-8">
                        
                        <div class="mt-4 mb-5">
                            <h1 class="display-2 fw-normal my-4">Hello,Let's <span class="text-through fw-bold">Study </span>Use Indian Sign Language.</h1>

                        </div>
                        <img class="organic-radius img-fluid" src="/static/assets/img/illustrations/lstm.jpg"  alt="equal">
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Hero section -->

        
        <div class="section section-lg bg-primary-app pb-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center mb-4 mb-lg-6">
                        <h2 class="display-2 fw-bold">
                             Words in ISL
                        </h2>
                        <p class="lead">The following are common words in ISL divided into classes</p>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-4 text-center">
                        <div class="card border-gray-300 mb-4">
                            <div class="card-body py-5">
                               
                                <h3 class="display-4 fw-bold">
                                    Greetings 
                               </h3>                       
                                <p class="card-text py-4 mb-0">Some quick signs for exchanging greetings in ISL.</p>
                                <a href="/lstm1" class="btn btn-primary btn-sm">TRY</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center">
                        <div class="card border-gray-300 mb-4">
                            <div class="card-body py-5">
                                <h3 class="display-4 fw-bold">
                                    Simple Words
                               </h3>                       
                                <p class="card-text py-4 mb-0">Some quick signs for exchanging greetings in ISL.</p>
                                <a href="/lstm2" class="btn btn-primary btn-sm">TRY</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center">
                        <div class="card border-gray-300 mb-4">
                            <div class="card-body py-5">
                                <h3 class="display-4 fw-bold">
                                    Colours
                               </h3>                       
                                <p class="card-text py-4 mb-0">Some quick signs for exchanging greetings in ISL.</p>
                                <a href="/lstm3" class="btn btn-primary btn-sm">TRY</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center">
                        <div class="card border-gray-300 mb-4">
                            <div class="card-body py-5">
                                <h3 class="display-4 fw-bold">
                                    General Words
                               </h3>                       
                                <p class="card-text py-4 mb-0">Some quick signs for exchanging greetings in ISL.</p>
                                <a href="/lstm4" class="btn btn-primary btn-sm">TRY</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center">
                        <div class="card border-gray-300 mb-4">
                            <div class="card-body py-5">
                                <h3 class="display-4 fw-bold">
                                    Useful Words
                               </h3>                       
                                <p class="card-text py-4 mb-0">Some quick signs for exchanging greetings in ISL.</p>
                                <a href="/lstm5" class="btn btn-primary btn-sm">TRY</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center">
                        <div class="card border-gray-300 mb-4">
                            <div class="card-body py-5">
                                <h3 class="display-4 fw-bold">
                                    Polite Words
                               </h3>                       
                                <p class="card-text py-4 mb-0">Some quick signs for exchanging greetings in ISL.</p>
                                <a href="/lstm6" class="btn btn-primary btn-sm">TRY</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           
        <div class="section section-lg bg-primary-app">
            <div class="container">
    
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 text-center mb-4">
                        <h2>Want to ask more questions?</h2>
                        <p>Cool! Drop us a message</p>
                    </div>
                    <div class="col-12 col-lg-8">
                        <form action="#">
                            <!-- Form -->
                            <div class="mb-4">
                                <label for="name">Your Name</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon3"><span class="fas fa-user-circle"></span></span>
                                    <input type="text" class="form-control" placeholder="e.g Rachel Green" id="name" required>
                                </div>
                            </div>
                            <!-- End of Form -->
                            <!-- Form -->
                            <div class="mb-4">
                                <label for="email">Your Email</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon4"><span class="fas fa-envelope"></span></span>
                                    <input type="email" class="form-control" placeholder="example@company.com" id="email" required>
                                </div>
                            </div>
                            <!-- End of Form -->
                            <div class="mb-4">
                                <label for="message">Your Message</label>
                                <textarea placeholder="Your message" class="form-control" id="message" rows="4" required></textarea>
                            </div>
                            <!-- End of Form -->
                            <div class="d-grid">
                                <button type="submit" class="btn rounded btn-secondary">Send message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>

    {% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
