{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign UP {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        {% include 'includes/preloader.html' %}

        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="/static/assets/img/pages/form_image.png">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                <label for="ms ">Sign in to our platform</label>
                                <form method="post" action="" class="mt-4">
                                    
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1"><span class="fas fa-user"></span></span>   
                                        <input type="text" class="form-control" placeholder="Username" required="required"name="username" id="username">
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon3"><span class="fas fa-envelope"></span></span>  
                                        <input type="email" class="form-control" placeholder="Email" required="required" name="email"id="email">
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    
                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon2"><span class="fas fa-lock"></span></span>
                                                <input type="password" class="form-control" placeholder="Password" name="password" required="required" id="password">
                                            </div>  
                                        </div>
                                        
                                        <!-- End of Form -->
                                
                                <!-- Submit button -->
                                <div class="d-grid">
                                    <button type="submit" name="register" class="btn btn-primary">Sign up</button>
                                </div>
                                <br>
                                <!-- Register buttons -->
                                <div class="text-center">
                                    <p>or sign up with:</p>
                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-google"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-twitter"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-github"></i>
                                    </button>
                                </div>
                                </form>   
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
